{{- $s := site.Params }}
{{- $p := .Params }}
{{- $codeBlockConfig := partial "func/getCodeBlockSettings" . }}
<!DOCTYPE html>
<html
  lang="{{ .Lang }}"
  data-figures="{{ $p.figurePositionShow }}"
  {{ if .IsPage }}
    class="page"
  {{ else if .IsHome }}
    class="home"
  {{ end }}
  {{ with $s.enforceLightMode }}
    data-mode="lit"
  {{ end }}
  {{ with $s.enforceDarkMode }}
    data-mode="dim"
  {{ end -}}
>
  <head>
    {{- partial "head" . }}
<!-- link rel="stylesheet" href="/css/custom.css" -->
    {{- partial "hooks/head-end" . }}

  <meta charset="utf-8">
  <title>{{ .Title }}</title>
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>
<body>
  {{ block "main" . }}{{ end }}
</body>

  </head>
  <body
    data-code="{{ $codeBlockConfig.max }}"
    data-lines="{{ $codeBlockConfig.lines }}"
    id="documentTop"
    data-lang="{{ .Lang }}"
  >
    {{- partialCached "scripts/google/tag-manager" (dict "noscript" true) }}

   <!-- Bande noire du haut -->
   <div class="top-black-bar"></div>

   <!-- Banderole blanche avec logos -->
   {{ partial "top-banner.html" . }}

   <!-- Bande noire avec menu -->
   <div class="menu-wrapper">
    {{ partial "header.html" . }}
  </div>


   <main>
      {{ block "main" . }}{{ end }}
   </main>


    {{- partialCached "icons" . }}
    {{- partialCached "footer" . }}
    {{- partialCached "scripts/index" . }}
    {{- partialCached "hooks/body-end" . }}
  </body>


<div id="floating-layer">
  {{ partial "sidebar.html" . }}
</div>


</html>
